BOT_TOKEN=7997418140:AAEhcSisAnr3e4njmZt6A2OBckLXYGM7-wY
BOT_USERNAME=@Hype_Mining_Bot
MINI_APP_URL=https://buraya_frontend_url_gelecek
DATABASE_URL=buraya_veritabani_url_gelecek
PORT=3000
NODE_ENV=production
WEBHOOK_URL=buraya_sunucu_url_gelecek
